
.cartPage {
    margin:0 20vw 0 20vw ;
    display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

 

}

.cartPage h2 {
    background: -webkit-linear-gradient(rgb(48, 48, 48), rgb(97, 97, 97));
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}


  
.cartPage .yourCart {
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;

    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.979);
    -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.912);
    text-decoration: none;
}

.cart-item{
    width:70vw;
    height:6vw;
     padding-left:6vw;
     padding-right:6vw;
    display:flex;
   background-color: rgb(255, 255, 255);
  border-bottom:1px solid black;
  border-top:1px solid black;
   gap:5vw;
 justify-content: center;
 align-items: center;

}
.cart-item .image {
  width:20vw;
}

.cart-item .image img {
    
    max-width:5vw;
    max-height:5vw;

}
.cart-item .name {

    width:100vw;
    font-size:0.8vw;
}

.cart-item .prize {

    font-size:1.5vw;
    width:100vw;
}

.quantity {
    display:flex;
    height:3vw;
}



button {


    display:flex;
    justify-content:center;
    align-items:center
}

.totalPrize {
   
    margin-top:5vw;
    
   
}

.quantity input {
   
    font-size:2vw;
    width:5vw;
    text-align: center; 
}